@model Receita

@section Scripts {
    <script type="text/javascript">
        //Autocomplete
        $("#Medicamento").autocomplete({
            source: '@Url.Action("BuscarMedicamentoAutocomplete", "Medicamento")',
            minLength: 1,
            select: function (event, ui) {
                $('#MedicamentoId').val(ui.item.id);
            },
            change: function (event, ui) {
                if(!ui.item){
                    $(event.target).val("");
                    $('#MedicamentoId').val("");
                }
            },
            focus: function (event, ui) {
                return false;
            }
        });
    </script>
}

@{
    ViewBag.Title = "Alterar Receita";
}

<h2>Alterar Receita</h2>

@using (Html.BeginForm("Alterar", "Medicamento", FormMethod.Post, new { @class = "form-inline" }))
{
    <fieldset class="border">
        <legend class="border">Informações</legend>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type = "date", @Value = Model.Data.Value.ToString("yyyy-MM-dd") } })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Paciente.Nome, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Paciente.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Medico.Nome, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Medico.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </fieldset>

    <fieldset class="border">
        <legend class="border">Medicamento da receita</legend>
        @if(Model.ItemReceita != null && Model.ItemReceita.Count > 0)
        {
            @Html.DisplayFor(prop => prop.ItemReceita)
        }
        else
        {
            <p class="text-center">Não existem mecadimentos cadastrados para esta receita</p>
        }
    </fieldset>
}

@using (Html.BeginForm("SalvarItemReceita", "Receita", FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.PacienteId)
    @Html.HiddenFor(model => model.MedicoId)

    <fieldset class="border">
        <legend class="border">Incluir medicamento</legend>

        <input id="MedicamentoId" name="MedicamentoId" type="hidden" data-val="true" data-val-required="Selecione um medicamento cadastrado.">

        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label" for="Paciente">Medicamento</label>
                <input class="form-control text-box single-line" type="text" id="Medicamento" name="Medicamento" required data-toggle="tooltip" data-placement="top" title="Começe a digitar o nome do medicamento e selecione um item da lista exibida.">
                <span class="field-validation-valid text-danger" data-valmsg-for="MedicamentoId" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label" for="Observacao">Observação</label>
                <textarea class="form-control text-box" type="text" id="Observacao" name="Observacao" required data-val="true" data-val-required="O campo Observação é obrigatório." aria-required="true" aria-describedby="Observacao-error" aria-invalid="false"></textarea>
                <span class="field-validation-valid text-danger" data-valmsg-for="Observacao" data-valmsg-replace="true"></span>
            </div>
        </div>

        <br />

        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-md">
                <span class="glyphicon glyphicon-floppy-disk botao-ico"></span>Salvar
            </button>
        </div>
    </fieldset>
}

<div class="text-right">
    <a type="button" class="btn btn-primary btn-md" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left botao-ico"></span>Voltar
    </a>
</div>