@model Receita

@{
    ViewBag.Title = "Excluir Receita";
}

<h2>Excluir Receita</h2>

<h3>Você tem certeza que deseja excluir este registro?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Data)</dt>
        <dd>@Model.Data.Value.ToShortDateString()</dd>

        <dt>Nome do paciente</dt>
        <dd>@Html.DisplayFor(model => model.Paciente.Nome)</dd>

        <dt>Nome do médico</dt>
        <dd>@Html.DisplayFor(model => model.Medico.Nome)</dd>

        @foreach (var itemReceita in Model.ItemReceita)
        {
            <dt>Medicamento</dt>
            <dd>@itemReceita.Medicamento.Descricao - @itemReceita.Observacao</dd>
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.Partial("_BotoesExclusaoPadrao")
    }
</div>