@model LoginViewModel

@{
    ViewBag.Title = "Entrar";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Digite seu login e senha</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-lg-offset-2">
                        <label style="display:inline;">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            Mantenha-me conectado
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Entrar" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="informacao">
            <div>
                <ul>
                    <li>
                        Administrador
                        <p><b>Login:</b> administrador@sgcm.com</p>
                        <p><b>Senha:</b> Senh@1</p>
                    </li>
                    <li>
                        Médico 1
                        <p><b>Login:</b> medico1@sgcm.com</p>
                        <p><b>Senha:</b> Senh@1</p>
                    </li>
                    <li>
                        Médico 2
                        <p><b>Login:</b> medico2@sgcm.com</p>
                        <p><b>Senha:</b> Senh@1</p>
                    </li>
                    <li>
                        Secretário
                        <p><b>Login:</b> secretario@sgcm.com</p>
                        <p><b>Senha:</b> Senh@1</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}