@model MedicamentoFiltroViewModel

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formFiltroMedicamento").submit(function (e) {
                $.ajax({
                    type: 'POST',
                    url: '/SGCM/Medicamento/ListarMedicamentos',
                    data: $('#formFiltroMedicamento').serialize(),
                    success: function (data) {
                        $('#divListarMedicamento').html(data);
                    }
                });

                e.preventDefault();
            });
        });
    </script>
}

@{
    ViewBag.Title = "Medicamentos";
}

<h2>Medicamentos</h2>

@using (Html.BeginForm("Index", "Medicamento", FormMethod.Get, new { @class = "form", role = "form", id = "formFiltroMedicamento" }))
{
    <fieldset class="border">
        <legend class="border">Pesquisa</legend>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.TextBoxFor(prop => prop.NomeGenerico, new { @class = "form-control", placeholder="Nome genérico"})
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.TextBoxFor(prop => prop.NomeFabrica, new { @class = "form-control", placeholder = "Nome fábrica" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.TextBoxFor(prop => prop.NomeFabricante, new { @class = "form-control", placeholder = "Nome fabricante" })                    
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary btn-md" role="button" data-toggle="tooltip" data-placement="auto" title="Pesquisar">
                        <span class="glyphicon glyphicon-search" aria-hidden="true" />
                    </button>
                    <button type="reset" class="btn btn-primary btn-md" role="button" data-toggle="tooltip" data-placement="auto" title="Limpar">
                        <span class="glyphicon glyphicon-erase" aria-hidden="true" />
                    </button>
                    <a class="btn btn-primary btn-md" href="@Url.Action("Incluir")" role="button" data-toggle="tooltip" data-placement="auto" title="Incluir medicamento">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true" />
                    </a>
                </div>
            </div>
        </div>
    </fieldset>
}

<br />

<div id="divListarMedicamento">
    @Html.Action("ListarMedicamentos")
</div>